body {
    background-color: #eeeeee;
}

.jumbotron h1 {
    text-transform: uppercase;
}

.cook {
    background-color: #d9534f;
}

.warm {
    background-color: #f0ad4e;
}

#chart {
	width: 100%;
	height: 300px;
}

#legen {
	text-align: center;
}